<html>
<head>
    <title>{{$title}} Title {{/title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
{{$body}} Body {{/body}}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script>
    var index = 4, inc = 3;
    $('#button').click(function () {
        var from = index, to = index + inc - 1;
        index = index + inc;
        $.get('/items/' + from + '/' + to + '.json', function (data) {
            $('ul:last').after(Hogan.compile($('#tmpl_partial_items').html()).render(data));
        });
    });
</script>
</body>
</html>